@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-likeOrange: #fe9703;
  --color-likeGreen: #26ae61;
  --font-mont: var(--font-mont);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mont);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
